html,
body {
  font-family: Lato, sans-serif;
  color: #424551;
}

.wraper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.heading--text-center {
  text-align: center;
}

.button {
  display: inline-block;
  letter-spacing: 0.5px;
  line-height: 52px;
  font-weight: 700;
  padding: 0 40px;
  color: #fff;
  border-radius: 4px;
  white-space: nowrap;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  transition: 0.4s all;
}

.button:hover {
  transform: scale(1.05);
}

.button--empty {
  background-image: none;
  border: 1px solid #ff3f3a;
  color: #f75e05;
}

.heading {
  color: #424551;
}

.heading__subtitle {
  line-height: 150%;
  margin-bottom: 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.heading__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
}

.logo {
}

/*---------------------------*/

.header {
  font-weight: 700;
  background: url(../assets/png/shapes/shapes-hero.svg) 50% 30% / cover no-repeat,
    linear-gradient(55.95deg, rgba(255, 63, 58, 0.2) 0%, rgba(245, 93, 5, 0.2) 100%);
  display: flex;
  flex-direction: column;
}

.header__top {
}

.header__top-iner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header__logo {
  margin-right: 60px;
}

.header__nav {
  margin-right: auto;
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  margin-right: 40px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-link {
  white-space: nowrap;
  font-weight: 700;
  line-height: 1.6;
  transition: all 0.6s;
}

.header__nav-link:hover {
  color: #ff3f3a;
}

.header__btn-box {
  align-items: center;
  display: flex;
}

.header__top-btn {
  margin-right: 36px;
}

.header__user-nav {
  position: relative;
  padding-left: 28px;
}

.header__user-nav::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  content: '';
  background: url(../assets/png/icons/Person.svg) no-repeat;
  width: 20px;
  height: 20px;
}

.header__user-btn {
  white-space: nowrap;
  line-height: 1.6;
  transition: all 0.6s;
}

.header__user-btn:hover {
  color: #ff3f3a;
}

/*------------------------------------*/

.header__body {
  flex-grow: 1;
}

.header__body-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 120px 0 180px;
}

.header__content {
  margin-right: 30px;
}

.header__play {
  display: inline-flex;
  align-items: center;
}

.header__play svg {
  margin-right: 16px;
  transition: all 0.6s;
  border-radius: 50%;
}

.header__play:hover svg {
  box-shadow: 0 0 0 16px rgb(255, 64, 58, 0.12);
}

.header__title {
  font-weight: 900;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 1px;
  min-width: 500px;
  margin-bottom: 60px;
}

.header__content-btns {
  display: flex;
}

.header__contens-btn:first-child {
  margin-right: 24px;
}

.header__illustration {
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.header__row-item {
  display: flex;
  align-items: center;
}

.header__row-item span {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  margin-right: 12px;
}
.header__row > span {
  background: #ff3f3a;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 15px;
}

/*----------------------------------*/

.about {
  padding: 180px 0 0;
}

.about__createx::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background: url('../assets/png/shapes/shapes-aboutus.svg');
  width: 100px;
  height: 85px;
}

.about__inner {
}

.about__createx {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 180px;
}

.about__createx-content {
  max-width: 600px;
  margin-right: 30px;
}

.about__heading {
}

.about__text {
  margin-bottom: 60px;
}

.about__paragraph:first-child {
  margin-bottom: 24px;
}

.about__paragraph--accent {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1e212c;
}

.about__btn-box {
  display: flex;
}

.about__btn:first-child {
  margin-right: 24px;
}

.about__img {
}

.about__values {
  display: flex;
  justify-content: space-between;
}

.about__image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about__numbers {
  margin-left: 30px;
  align-self: center;
}

.about__number {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.about__number:last-child {
  margin-bottom: 0;
}

.about__number span {
  font-weight: 900;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 1px;
  color: #ff3f3a;
  margin-right: 16px;
}

/*----------------------------------------*/

.directions {
  padding: 160px 0 0;
  margin-bottom: -46px;
}

.directions__inner {
  display: flex;
  flex-direction: column;
}

.directions__programms {
}

.directions__subtopic {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
}

.directions__topic {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  text-align: center;
  margin-bottom: 90px;
}

.directions__filtres {
  display: flex;
  margin-bottom: 57px;
}

.directions__filtre {
  margin-right: 45px;
  border: 1px solid #9a9ca5;
  border-radius: 4px;
}

.directions__filtre button {
  padding: 1px 8px;
  color: #9a9ca5;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
}

.directions__filtre--active {
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
}

.directions__filtre--active button {
  color: #ffffff;
}

.directions__programs-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.directions__programs-item {
  border: 1px solid #e5e8ed;
  border-radius: 4px;
  transition: 0.8s all;
}

.directions__programs-item:hover {
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}

.directions__text-block {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 24px;
  gap: 20px;
}

.directions__picture {
}

.directions__category {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
  border-radius: 4px;
  padding: 1px 8px;
}

.marketing-categ {
  background: #03cea4;
}

.direction__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787a80;
}

.directions__button {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #1e212c;
  transition: 0.4s all;
}

.directions__button::after {
  content: '';
  position: absolute;
  top: 28%;
  right: -28%;
  background: url(../assets/png/icons/arrow-red-right.svg);
  width: 18px;
  height: 11px;
}

.directions__button:hover {
  color: #ff3f3a;
}

.managment-categ {
  background: #5a87fc;
}

.hr-categ {
  background: #f89828;
}

.design-categ {
  background: #f52f6e;
}

.dev-categ {
  background: #7772f1;
}

.directions__coming {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f5f7;
  border-radius: 4px;
}

.directions__coming-text {
  max-width: 242px;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
}

.directions__sertificate {
  margin-top: 180px;
  display: flex;
  justify-content: space-between;
}

.directions__sertificate-text {
  max-width: 390px;
}

.directions__sertificate-subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.directions__sertificate-title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  margin-bottom: 48px;
}

.directions__sertificate-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 32px;
}

.directions__companies {
}

.directions__companie {
  margin-right: 20px;
}

.directions__sertificate-img {
}

/*=================================================*/
/*===================Team==========================*/

.team {
  background: url(../assets/png/shapes/shapes-team.svg) no-repeat, #f4f5f7;
}

.main__team {
  padding: 160px 0 180px;
}

.team__inner {
}

.team__heading {
  margin-bottom: 60px;
  position: relative;
}

.team__slider {
  border-radius: 4px;
}

.team__slider .slick-list {
  margin: 0 -15px;
}

.team__slide {
  padding: 0 15px;
}

.team__slide:hover {
}

.team__image-box {
  position: relative;
  border-radius: 4px;
  margin-bottom: 16px;
  overflow: hidden;
}

.team__image {
  position: relative;
  height: 340px;
}

.team__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team__socials {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background: linear-gradient(
    180deg,
    rgba(30, 33, 44, 0) 43.9%,
    rgba(30, 33, 44, 0.03) 55.21%,
    rgba(30, 33, 44, 0.33) 68.73%,
    rgba(30, 33, 44, 0.56) 76.17%,
    rgba(30, 33, 44, 0.768225) 83.75%,
    rgba(30, 33, 44, 0.92) 91.49%,
    #1e212c 100%
  );
  transform: translateY(50%);
  transition: all 0.2s;
}

.team__socials-item {
  margin-right: 12px;
}

.team__slide:hover .team__socials {
  transform: translateY(0);
}

.team__socials-item:last-child {
  margin-right: 0;
}

.team__socials-link {
  display: block;
  line-height: 0;
}

.team__socials-link path {
  transition: all 0.4s;
}

.team__socials-link:hover path {
  fill: #fff;
}

.team__info {
  text-align: center;
}

.team__info-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 5px;
}

.team__info-job {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787a80;
}

.team__slider-arrows {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
}

.team__slider-arrow {
  display: block;
  line-height: 0;
  position: relative;
  z-index: 5;
}

.team__slider-arrow::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 48px;
  height: 48px;
  background: #ff3f3a;
  border-radius: 50%;
  z-index: -1;
  transition: all 0.4s;
}

.team__slider-arrow:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.team__slider-arrow path {
  transition: all 0.3s;
}

.team__slider-arrow:hover path {
  fill: #fff;
}

.team__slider-prev {
  margin-right: 24px;
}

/* ============================== TESTIMONIALS ============================== */
/* ============================== TESTIMONIALS ============================== */

.testimonials {
  background-color: #f4f5f7;
}

.testimonials__main {
  padding-bottom: 195px;
}

.testimonials__inner {
}

.testimonials__heading {
  margin-bottom: 60px;
}

.testimonials__slider-wrapper {
  position: relative;
  padding: 0 50px;
  margin-bottom: 50px;
}

.testimonials__slider {
  max-width: 1020px;
  margin: 0 auto;
}

.testimonials__slide {
  padding: 64px;
  background-color: #fff;
}

.testimonials__slide-inner {
  max-width: 810px;
  margin: 0 auto;
  padding-left: 58px;
}

.testimonials__quote {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 24px;
  position: relative;
}

.testimonials__quote::before {
  content: '';
  position: absolute;
  top: 0;
  left: -58px;
  background: url(../assets/png/shapes/braces.svg) 0 0 / 100% no-repeat;
  width: 28px;
  height: 20px;
}

.testimonials__user {
  display: flex;
  align-items: center;
}

.testimonials__user-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #1e212c;
}

.testimonials__user-avatar {
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.testimonials__position {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #787a80;
}

.testimonials__arrow {
  z-index: 5;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  display: flex;
  align-items: center;
}

.testimonials__arrow path {
  transition: all 0.4s;
}

.testimonials__arrow::before {
  content: '';
  position: absolute;
  top: 50%;
  background-color: #ff3f3a;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  z-index: -1;
  transition: all 0.4s;
}

.testimonials__prev {
  left: 0;
}

.testimonials__next {
  right: 0;
  justify-content: flex-start;
}

.testimonials__prev::before {
  left: 20%;
  transform: translate(-50%, -50%) scale(0);
}

.testimonials__next::before {
  left: 20%;
  transform: translate(-50%, -50%) scale(0);
}

.testimonials__arrow:hover path {
  fill: #fff;
}

.testimonials__prev:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.testimonials__next:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.testimonials__dots .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials__dots li {
  margin-right: 12px;
}

.testimonials__dots li:last-child {
  margin-right: 0;
}

.testimonials__dots button {
  font-size: 0;
  background-color: transparent;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
}

.testimonials__dots button::before {
  content: '';
  height: 3px;
  width: 100%;
  background-color: #b3b7bc;
  border-radius: 3px;
}

.testimonials__dots .slick-active button::before {
  background-color: #424551;
  transition: all 0.3s;
}

/* ============================== COMPANIES ============================== */
/* ============================== COMPANIES ============================== */

.companies {
  background-color: #f4f5f7;
}

.main__companies {
}

.companies__inner {
  padding-bottom: 177px;
}

.companies__heading {
  margin-bottom: 60px;
}

.companies__grid {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(6, 1fr);
}

.companies__grid-item {
}

.companies__image {
  -webkit-filter: grayscale(1);
}

.companies__image:hover {
  -webkit-filter: grayscale(0);
}

/* ============================== PROGRAM ============================== */
/* ============================== PROGRAM ============================== */

.program {
}

.program__main {
  padding: 115px 0 185px;
}

.program__inner {
  display: flex;
  flex-direction: column;
}

.program__heading {
  margin-bottom: 60px;
}

.program__info {
  display: flex;
  justify-content: space-between;
}

.program__acordeon {
  max-width: 600px;
}

.program__acordeon-item {
  margin-bottom: 24px;
  padding-left: 40px;
}

.program__acordeon-item:last-child {
  margin-bottom: 0px;
}

.program__acordeon-head {
  position: relative;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #1e212c;
}

.program__acordeon-head span {
  color: #ff3f3a;
}

.program__acordeon-head::before,
.program__acordeon-head::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -40px;
  width: 18px;
  height: 2px;
  background-color: #ff3f3a;
  border-radius: 2px;
}

.program__acordeon-head::after {
  transform: rotate(90deg);
  transition: all 0.6s;
}

.program__acordeon-text {
  display: none;
  margin-top: 16px;
}

.program__acordeon-item--active .program__acordeon-text {
  display: block;
}

.program__acordeon-item--active .program__acordeon-head::after {
  transform: rotate(0deg);
}

/* ============================== BLOG ============================== */
/* ============================== BLOG ============================== */

.blog {
}

.blog__main {
}

.blog__inner {
  margin-bottom: 215px;
}

.blog__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.blog__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.blog__grid-item {
  border-radius: 4px;
  position: relative;
}

.blog__image {
}

.blog__type {
  position: absolute;
  display: flex;
  background-color: #fff;
  padding: 2px 8px;
  top: 12px;
  left: 12px;
  border-radius: 4px;
}

.blog__type-img {
}

.blog__type-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.blog__info {
  display: flex;
  min-height: 190px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 16px;
}

.blog__category {
  display: flex;
}

.blog__category-ell {
  padding: 0 12px;
  color: #787a80;
  position: relative;
}

.blog__category-ell:first-child {
  padding-left: 0;
}

.blog__category-ell::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 12px;
  background-color: #787a80;
}

.blog__category-ell:last-child::after {
  width: 0;
}

.blog__category-type {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
}

.blog__category-date {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  align-items: center;
}

.blog__category-date::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background: url(../assets/png/icons/date.svg);
  margin-right: 8px;
}

.blog__category-time {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  align-items: center;
}

.blog__category-time::before {
  content: '';
  display: block;
  width: 16px;
  height: 15px;
  background: url(../assets/png/icons/time.svg);
  margin-right: 8px;
}

.blog__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1e212c;
}

.blog__text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}

.blog__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #1e212c;
  display: flex;
  align-items: center;
}
.blog__button::after {
  content: '';
  display: block;
  width: 18px;
  height: 12px;
  background: url(../assets/png/icons/arrow-red-right.svg);
  margin-left: 11px;
}

.blog__button:hover {
  transition: all 0.6s;
  color: #f52f6e;
}

.blog__info-type {
}

.blog__info-date {
}

.blog__info-time {
}
